@model CadastroCertificados.Models.Aluno

@{
    ViewData["Title"] = "Apagar Aluno";
}

<h1>Apagar</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAluno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeAluno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curso)
        </dd>
    </dl>

    <h4>Você realmente deseja apagar este aluno da lista?</h4>
    <form asp-action="Sim">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <div>
        <a asp-action="Index">Voltar para Lista de Alunos</a>
    </div>
</div>
