@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Bem vindos ao Desafio in Company!</h1>
    <img src="~/img/webcode.jpg" alt="imagem de tela de programação" width="450px">
    <p>Está página foi desenvolvida a fim de exibir dados requisitados pelo 'Desafio in Compony' do Mundo Jix em parceria com o grupo Tiradentes.</p>
    <p>O desafio proposto é:</p>
    <ul>
        <li>Grid com a lista de documentos enviados pelo aluno;</li>
        <li>Coluna com link do nome do documento para acesso ao documento;</li>
        <li>Coluna com o tipo de atividade do certificado;</li>
        <li>Coluna com a quantidade de horas;</li>
        <li>Coluna com o status do documento: Homologado / Não-Homologado.</li>
        <li>ElementoX: Conexão com Banco de Dados.</li>
    </ul>
</div>
