@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>O autor desta página é Arthur Vinicius Delmas Borges.</p>
<p>Desafio realizado pelo Mundo Jix em parceria com o Grupo Tiradentes.</p>
